@using DatabaseInteraction.Models
@model UserLogin

@{
    Layout = "";
}


<link rel="stylesheet" type="text/css" href="~/Content/approaching-mastery_forms.css" />


<script>
    function showPassword() {

        var userInfo = $('#UpdatePassword');
        var button = $('#EditClosePassword');
        userInfo.toggle();
        if (userInfo.css('display') == 'block') button.prop('innerText', 'Close');
        else button.prop('innerText', 'Edit');
    }

    function passwordResult(data) {
        $('ExistingPassword').val("");
        $('Password').val("");
        $('ConfirmPassword').val("");
        if (data.PasswordResult == 'Success') alert("Password Updated Successfully!");
        else ("Error updating password");
    }

</script>

<link rel="stylesheet" type="text/css" href="~/Content/approaching-mastery_forms.css" />
<div class="editHeader">
    <table style="width:100%;">
        <tr>
            <td style="text-align:left">
                <h6 style="margin-left:10px;">Password</h6>
            </td>
            <td style="text-align:right;">
                <button id="EditClosePassword" onclick="showPassword();">Edit</button>
            </td>
        </tr>
    </table>
    <hr />
    @{
        string action = Model.IsEditing ? "EditUserPassword" : "AddPassword";
        using (Ajax.BeginForm(action, "UserLogin", new AjaxOptions { HttpMethod = "POST", OnSuccess = "passwordResult" }))
        {
        <div id="UpdatePassword" class="editor">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.IsEditing)

            <div class="inputBox" style="display:block;">
                @Html.LabelFor(m => m.ExistingPassword)
                @Html.PasswordFor(m => m.ExistingPassword)
            </div>
            <div class="inputBox" style="display:block;">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>
            <div class="inputBox" style="display:block;">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            @{ if (Model.IsEditing)
                {
                    <div style="text-align:right;">
                        <button>Save Changes</button>
                    </div>
                }
            }
        </div>
        }
    }
</div>