@model  DatabaseInteraction.Models.Test
@{
    Layout = "";
}
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="modal-content animate">
        <div class="modal-header">
            <!-- Dynamically insert students name -->
            <h4 class="modal-title">Pro-Core Reading</h4>
        </div>
        <!-- Main Content -->
        <div class="container" style="width: 100%;">
            @Html.LabelFor(m => m.Semester)
            @Html.EnumDropDownListFor(model => model.Semester)
            <br />
            @Html.LabelFor(m => m.TestType, "Test Type")
            @Html.EnumDropDownListFor(model => model.TestType)
            <br />
            @Html.LabelFor(m => m.Year)
            @Html.TextBoxFor(m => m.Year, new { @type = "number" })
            <br />
            @Html.LabelFor(m => m.Score)
            @Html.TextBoxFor(m => m.Score, new { @type = "number" })


        </div>
        <!-- Footer and buttons -->
        <div class="container" style="background-color:#f1f1f1; width: 100%;">
            <button class="btn btn-success bootStrapButtons buttonAnimation" type="submit"><span>Save Changes</span></button>
            <button type="button" onclick="document.getElementById('BenchMarkTests').style.display = 'none'" class="cancelbtn btn btn-danger bootStrapButtons buttonAnimation"><span>Cancel</span></button>
        </div>
    </div>
}
