@model  DatabaseInteraction.Models.AccomodationTest
@{
    Layout = "";
}
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="modal-content animate">
        <div class="modal-header">
            <!-- Dynamically insert students name -->
            <h4 class="modal-title">Add Accomodation Test</h4>
        </div>
        <!-- Main Content -->
        <div class="container" style="width: 100%;">


            @Html.LabelFor(m => m.Date)
            @Html.TextBoxFor(m => m.Date, new { @type = "DateTime", @Value = DateTime.Now.ToShortDateString() })
            <br />
            @Html.LabelFor(m => m.TestGiven, "Test Given")
            @Html.TextBoxFor(m => m.TestGiven)
            <br />
            @Html.LabelFor(m => m.Percentile)
            @Html.TextBoxFor(m => m.Percentile, new { @type = "number", @min = "0", @max = "100" })



        </div>
        <!-- Footer and buttons -->
        <div class="container" style="background-color:#f1f1f1; width: 100%;">
            <button class="btn btn-success bootStrapButtons buttonAnimation" type="submit"><span>Save Changes</span></button>
            <button type="button" onclick="document.getElementById('AccomodationTestModal').style.display='none'" class="cancelbtn btn btn-danger bootStrapButtons buttonAnimation"><span>Cancel</span></button>
        </div>
    </div>
}
