@using DatabaseInteraction.Models
@using ApproachingMastery.Models
@using System.Linq
@model List<TestYearModal>


@{

    Layout = null;
}

<script>
    $(function () {
        $(".editSRI").click(function () {
            loadEditModal($(this), editSRIURL, $("#AddEditTestContent"), $("#AddEditTestModal"), "year")
        });
    });

    function AddSRITest() {
            loadEditModal($(this), addSRIURL, $("#AddEditTestContent"), $("#AddEditTestModal"),"")
    }
</script>

<table id="SRI" class="TableFormat">
    <tr>
        <th>Year</th>
        <th>Fall</th>
        <th>Winter</th>
        <th>Spring</th>
        <th>Edit</th>
    </tr>


    <!-- Need to dynamically populate these / placeholder -->
    @{
        if (Model.Count == 0)
        {
            <tr>
                <td>No Data!</td>
            </tr>
        }
        else
        {
            foreach (TestYearModal t in Model)
            {
                <tr>
                    <td>@t.Year</td>
                    @if (t.Fall.TestID == Guid.Empty)
                    { 
                        <td>No Data!</td>
                    }
                    else
                    {
                        <td>@t.Fall.Score</td>
                    }
                    @if (t.Winter.TestID == Guid.Empty)
                    {
                        <td>No Data!</td>
                    }
                    else
                    {
                        <td>@t.Winter.Score</td>
                    }
                    @if (t.Spring.TestID == Guid.Empty)
                    {
                        <td>No Data!</td>
                    }
                    else
                    {
                        <td>@t.Spring.Score</td>
                    }
                <td>
                    <a href="#" data-id="@t.Year" class="btn btn-danger editSRI">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </td>
                </tr>
            }
        }
    }

</table>
<button class="btn btn-primary bootStrapButtons buttonAnimation addTestingDataButton" onclick="AddSRITest()" style="width: 190px !important"><span><i class="fa fa-plus"></i> Add Test Scores</span></button>
